<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/timer.css">
    <title>Timer</title>
</head>

<body onload="moveClock()">

    <div class="menu">
        <a href="../index.html" target="_top">Inicio</a>
        <a href="../views/projects.html" target="_top">Practicas</a>
    </div>

    <div class="timer">
        <form name="form_reloj">
            <input type="text" name="reloj" size="10" onfocus="window.document.form_reloj.reloj.blur()">
        </form>
    </div>
</body>

<script src="../js/timer.js"></script>

</html>




