<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="../css/footer.css">
    <script src="https://kit.fontawesome.com/560becc4a6.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="footer">
        <h2>Contacto</h2>
        
        <div class="icons">
            <a href="mailto:luisgnzhdz@gmail.com"><i class="fa-regular fa-envelope"></i> luisgnzhdz@gmail.com </a> 
            <a href="https://github.com/LuisGH28" target="_blank"><i class="fa-brands fa-github"></i> LuisGH28 </a> 
        </div>
    </div>
</body>
</html>