<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Bar</title>
    <link rel="stylesheet" href="../css/top.css">
    <script src="https://kit.fontawesome.com/560becc4a6.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="top--bar">
        <img src="../assets/img/Logo.png" alt="Ame">
        <h1>CU UAEM Valle de México</h1>
        <img src="../assets/img/猫.png" alt="neko">
    </div>
</body>
</html>